.button {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background: black;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
}